<div class="container mt-4">
  <div class="card mt-2">
    <div class="post-info">
      <h2 class="card-title">プロフィール変更</h2>
  
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        
        <%# ユーザ名 %>
        <div class="mt-4 text-left fw-bold">
        <%= f.label :name, "ユーザ名", class: "form-label" %>
        </div>
        <div class="mb-3">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <%# 現在のパスワード %>
        <div class="mt-4 text-left">
          <%= f.label :current_password, class: "form-label" %><br />
        </div>
        <div class="mb-4">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <%# パスワード %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3 text-left form-label fw-bold">
          <%= f.label :password %> <%= t('.leave_blank_if_you_don_t_want_to_change_it') %> <br />
        </div>
        <div class="mb-4 form-label fw-bold">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> 桁以上で半角英数字のみ</em>
          <% end %>
        </div>

        <%# パスワード確認 %>
        <div class="pt-2 text-left">
          <%= f.label :password_confirmation, class: "form-label" %><br />
        </div>
        <div class="mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="actions mb-4 mt-4 text-center">
          <%= f.submit "変更する", class: "btn btn-primary" %>
        </div>
      <% end %>

    <%# アカウント削除 %>
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">アカウントの削除</h5>
      </div>
      <div class= "form-control">
        <div class="text-center">
          <p class="mt-2 form-label fw-bold">アカウントが削除され、ログインできなくなります。</p> 
          <%# ボタン %>
          <%= button_to "アカウントを削除", 
                        registration_path(resource_name), 
                        data: { 
                          turbo_confirm: t('.are_you_sure') 
                        }, 
                        method: :delete, 
                        class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="mt-3 text-center fw-bold">
      <%= link_to "戻る", :back %>
    </div>
  </div>
</div>
