<div class="card-body">
  <h2 class="card-title"><%= t('.heading')%></h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%# 新しいパスワード %>
      <div class="mb-1 text-left form-label fw-bold">
        <%= f.label :password, t('.new_password') %>
      </div>
      <div class="mb-3">
        <%= f.password_field :password, 
                              autofocus: true, 
                              autocomplete: "new-password", 
                              class:"form-control", 
                              placeholder: "#{@minimum_password_length} #{t('.password_rule')}" %>
      </div>
      <%# 新しいパスワード（確認用） %>
      <div class="mb-1 text-left form-label fw-bold">
        <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
      </div>
      <div class="mb-3">
        <%= f.password_field :password_confirmation, 
                              autocomplete: "new-password", 
                              class:"form-control",
                              placeholder: "#{t('.password_confirmation_rule')}" %>
      </div>
      <%# ボタン %>
      <div class="mb-4 mt-4 text-center">
        <%= f.submit t('.reset_password_execution'), class: "btn btn-primary"  %>
      </div>
    <% end %>
  <%# リンク %>
  <div class="mb-3 text-center fw-bold">
    <%= render "devise/shared/links" %>
  </div>
</div>
