<div class="mb-3">
  <!-- 投稿タイプラベル -->
  <%= form.label :post_type, class: "form-label fw-bold" %>
  <div class="d-flex gap-4 mt-1">
    <div class="form-check form-switch">
      <%# 書籍ラジオボタン %>
      <%= form.radio_button :post_type, 'book', 
        id: 'post_type_book', 
        class: 'form-check-input',
        data: { 
          "post-form-target": "bookRadio",
          action: "change->form#typeChanged" 
        } %>
      <%# 書籍ラベル %>
      <%= form.label :post_type_book,
        t("posts.new.post_types.book"),
        class: "form-check-label" %>
    </div>
    <div class="form-check form-switch">
      <%# 動画ラジオボタン %>
      <%= form.radio_button :post_type, 'video', 
        id: 'post_type_video', 
        class: 'form-check-input',
        data: { 
          "post-form-target": "videoRadio",
          action: "change->form#typeChanged" 
        } %>
      <%# 動画ラベル %>
      <%= form.label :post_type_video, 
        t("posts.new.post_types.video"), 
        class: "form-check-label" %>
    </div>
  </div>
</div>
<%# ★評価呼び出し %>
<%= render 'posts/form/rating', form: form,  post: @post %>
